.post{
    box-sizing: border-box;
    margin-left: 370px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 550px;
    height: 620px;
    border-color: rgb(87, 87, 87);
    border: 1px inset;
    box-shadow: 2px 2px 2px rgb(87, 87, 87);
}